<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='posts'>
    <% @posts.each do |post| %>
      <tr "id=" >
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, remote: true  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script>

 $(name="commit").submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '<%= posts_path %>>',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token',  $('meta[name="csrf-token"]').attr('content'))},
            type: 'POST',
            dataType: 'JSON',
            data: {post: {content: $('#post_content').val() }}
      })
  .done(function() {
    $("#posts").prepend(data.content);

</script>

<%= link_to 'New Post', new_post_path %>